/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
 
html {
	font-size: 16px;
}
 
body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
  text-align: left;
}
 
ul, 
ol {
  list-style-type: none;
}
 
a {
  color: #e2e3ed;
  text-decoration: none;
}
 
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  margin: 20px 0;
}
 
p {
  font-size: .875em;
  line-height: 1.285;
}
 
img {
 width: 100%;
}
 
figure {
 margin: 0;
}
 
address {
 font-style: normal;
}
 
.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  background: #3a3a3a; 
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  font-size: 1.125em;
}

footer {
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}


/* -------------------- Mobile Styles - Homepage -------------------- */

/* Hero Area */

.hero-area {
  background: url(../img/unplugged-retreat.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area h1 {
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif; 
  font-weight: 500; 
  line-height: 1.2; 
}

/* Aside */

aside {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .form{
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* Features */

.features {
  background: url('../img/unplugged-retreat-features.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  margin-bottom: 60px;
}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features p {
  text-align: center;
  margin: 0;
}

/* Reviews */

.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

/* ==========================================================================
   About Page
   ========================================================================== */

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-content p {
  margin: 0;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */

.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content {
  margin-bottom: 50px;
}

.faq-content h4 {
  line-height: 1.333;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px) {
  /*Tablet styles here*/

  /* General styles */
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }
      
  h2 {
    font-size: 2.25em;
    line-height: 1.333;
  }

  h3 {
      font-size: 1.5em;
      line-height: 1.25;
  }

  /* Header */
  header {
    justify-content: space-around;
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  header figure {
    width: 30%;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }
  /* Hero Area */

  .hero-area {
    min-height: 600px;
  }

  .hero-area h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0;
}

  /* Aside */
  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 40%;
    margin: 0;
  }

  /* Features */

  .features h2 {
    margin-bottom: 20px;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }
  
  .features .features-item-description {
    width: 62%;
  }

  /* Reviews */
  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews h2 {
    width: 85%;
  }

  .reviews article figure,
  .reviews article div {
    width: 49%;
  }

  .reviews h3 {
    width: 75%;
    margin: 0;
  }
  /* Footer */
  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  footer .contact {
    margin-bottom: 0;
  }

  footer h4 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }

  footer p {
      line-height: 1.285;
  }

  footer .copyright {
    width: 100%;
  }

  /* ==========================================================================
   About Page
   ========================================================================== */

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .mission-content p {
    width: 45%;
  }

  .contact-section .content-wrapper h2 {
    width: 80%;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-content h4 {
    font-size: 1.5em;
  }

  /* ==========================================================================
   FAQ Page
   ========================================================================== */

  .faq .content-wrapper {
    justify-content: space-between;
  }

  .faq-content {
    flex-basis: 45%;
  }

  .faq h2 {
    width: 100%;
  }

  .faq h4,
  .faq p {
      font-size: .875em;
      line-height: 1.125;
  }
}

@media only screen and (min-width:1200px) {
  /*Desktop styles here*/

  header {
    padding: 15px 0;
  }

  .content-wrapper {
    max-width: 960px;
  }

  h2 {
    font-size: 2.25em;
  }

  h3,
  h4 {
      font-size: 1.875em;
  }

  p {
      font-size: 1.125em;
      line-height: 1.333;
  }
  /* Hero */
  .hero-area h1 {
    font-size: 3.75em;
    width: 80%;
}

  /* Aside */
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }

  .form-description p {
    font-size: 1.125em;
  }

  /* Features */


  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 33%;
  }
  
  /* Reviews */
  .reviews article div {
    width: 42%;
  }

  .reviews h2 {
    padding-bottom: 50px;
  }

  footer h4 {
    font-size: 1.875em;
  }

  /* ==========================================================================
  About Page
  ========================================================================== */

  .mission h2,
  .contact-section .content-wrapper h2 {
      width: 95%;
      font-size: 3em;
  }

  .contact-content h4 {
    font-size: 1.875em;
  }

  /* ==========================================================================
  FAQ Page
  ========================================================================== */
  .faq h2 {
    width: 100%;
    font-size: 3em;
  }
    
  .faq h4,
  .faq p {
      font-size: 1.125em;
      line-height: 1;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}